<section id="add">
<center>
  <form action="/" method="post" id="home">
  	<table width="500" height="275">
  		<tr>
  			<td>Organizer name : </td>
	    	<td><textarea style="color: black; background-color: transparent;" name="owner" rows="1" cols="25" maxlength="25" placeholder="eg: Antonio&hellip;" required></textarea></td>
	    </tr>
	    <tr>
	    	<td>Event name : </td>
	    	<td><textarea style="color: black; background-color: transparent;" name="event" rows="1" cols="25" maxlength="25" placeholder="eg: Antonios Surprise Party&hellip;" required></textarea></td>
	    <tr>
	    	<td>Place or adress : </td>
	    	<td><textarea style="color: black; background-color: transparent;" name="place" rows="1" cols="25" maxlength="25" placeholder="eg: Antonios house&hellip;" required></textarea></td>
	    </tr>
	    <tr>
	    	<td>Date and hour : </td>
	    	<td><textarea style="color: black; background-color: transparent;" name="date" rows="1" cols="25" maxlength="25" placeholder="eg: 09-07-2017 19h&hellip;" required></textarea></td>
	    </tr>
	    <tr>
	    	<td>
	    		<label>Chose theme</label>
	    	</td>
	    	<td>
	    		<%= @selectmaker %>
	    	</td>
	    </tr>
	    <table>
	    	<tr>
	    		<td><input type="submit" value="Preview"></td>
	    	</tr>
	    </table>
	    <%= @sampleimg %>
  	</table>
  </form>
</center>
</section>