<!doctype html>
<html lang="en">
<head>
  <meta charset="utf8">
  <title>Make your invitation</title>
  <link href="/normalize.css" rel="stylesheet">
</head>
<body>
  <header>
    <hgroup>
      <center><h1>Invitations generator</h1></center>
    </hgroup>
  </header>
 
  <div id="main">
    <%= yield %>
  </div>
</body>
</html>